---
import ImageWrapper from "@components/common/ImageWrapper.astro";
import { profileConfig } from "@/config";
import { Icon } from "astro-icon/components";

const { sayhi, avatar, name, bio, links } = profileConfig;
---

<!-- before:bg-gradient-to-r from-blue-400 to-blue-500 before:absolute before:w-full
before:h-full before:left-0 before:top-0 before:content-['']" -->
<div>
  <div
    class="py-4 px-5 min-h-80 relative bg-gradient-to-r from-blue-500 form-10% to-blue-500 rounded-xl"
  >
    <div
      class="text-center text-white bg-white bg-opacity-20 text-xs m-auto py-1.5 px-2.5 cursor-pointer w-fit rounded-xl"
    >
      {sayhi}
    </div>
    <div
      class="my-11 mx-auto flex justify-center w-28 h-28 opacity-100 :hover:opacity-0"
    >
      <ImageWrapper
        src={avatar}
        alt={name}
        imageClass="rounded-full border-4 border-white border-solid opacity-1 hover:opacity-0 duration-300"
      />
    </div>
    <!-- <div
      class="author-info-description absolute top-12 w-full left-0 px-5 py-4 text-white opacity-0 hover:opacity-100"
    >
      <div
        class="author-info-description-text leading-snug mx-0 my-2 text-justify text-white"
      >
        这里关于
        <b style="color:#fff;">产品、设计、开发</b>
        相关的问题和看法，还有
        <b style="color:#fff;">文章翻译、</b>
        <b style="color:#fff;">分享</b>
        和
        <b style="color:#fff;">随笔</b>
      </div>
      <div
        class="author-info-description-text leading-snug mx-0 my-2 text-justify text-white"
      >
        相信你可以在这里找到对你有用的
        <b style="color:#fff;">知识</b>
        和
        <b style="color:#fff;">文章</b>
      </div>
    </div> -->
    <div
      class="author-info-button-group flex justify-between w-full item-center"
    >
      <a
        class="author-info-button-group-left text-black transition-all break-words"
      >
        <h1
          class="author-info-name text-left font-weight-bold text-white text-xl mb-1 mt-0"
        >
          {name}
        </h1>
        <h1 class="author-info-desc text-xs text-white opacity-60">
          {bio}
        </h1>
      </a>
      <div
        class="card-info-social-icons mx-0 my-0 flex justify-start flex-row flex-wrap cursor-pointer content-center"
      >
        <a
          href=""
          class="m-0 ml-2 flex items-center justify-center cursor-pointer w-10 h-10 bg-opacity-20 bg-white p-2 rounded-full text-xl"
        >
          <!-- <i
            class="text-white w-10 h-10 text-base flex items-center justify-center transition-all p-2 rounded-3xl"
            >i</i
          > -->
          <Icon name="yuque" class="text-white" />
        </a>
        <a
          href=""
          class="m-0 ml-2 flex items-center justify-center cursor-pointer w-10 h-10 bg-opacity-20 bg-white p-2 rounded-full text-xl"
        >
          <Icon name="github" class="text-white" />
        </a>
      </div>
    </div>
  </div>
</div>
